<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642899758337-u04smaqt23i058kh9drcfn1fs6dtp8nr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642899758337-u04smaqt23i058kh9drcfn1fs6dtp8nr</string>
	<key>API_KEY</key>
	<string>AIzaSyCBbAHZC0mKH2yGnAenoVpei47ODJH_Q00</string>
	<key>GCM_SENDER_ID</key>
	<string>642899758337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ElevenFootEight.RepresentsMe</string>
	<key>PROJECT_ID</key>
	<string>representsme-d6197</string>
	<key>STORAGE_BUCKET</key>
	<string>representsme-d6197.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642899758337:ios:7d310d6af8461600</string>
	<key>DATABASE_URL</key>
	<string>https://representsme-d6197.firebaseio.com</string>
</dict>
</plist>